@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .date-label {
    @apply mb-0 text-small-label whitespace-nowrap;
  }

  .date-counter {
    @apply mt-[0.7rem] mb-0 text-[9rem] pb-0 leading-tight;
  }

  .counter-label {
    @apply mt-0 font-medium text-small-label;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
