@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .date-label {
    @apply text-3xl sm:text-small-label;
  }

  .date-counter {
    @apply text-[9rem] leading-tight tracking-wider;
  }

  .counter-label {
    @apply font-medium text-3xl sm:text-small-label;
  }

  .applyBasicButtonStyles {
    @apply p-0 border-none bg-opacity-0 cursor-pointer font-bold text-center;
  }

  .button-square {
    @apply rounded-lg py-4 px-6 applyBasicButtonStyles duration-200;
  }

  .button-round {
    @apply rounded-[3rem] py-4 px-9 applyBasicButtonStyles duration-200;
  }

  .button-filled {
    @apply bg-primary-color border-solid border-[0.15rem] border-primary-color duration-200 hover:bg-secondary-color hover:border-secondary-color active:bg-active-color active:border-active-color active:duration-[10];
  }

  .button-outlined {
    @apply bg-opacity-100 border-solid border-[0.15rem] border-primary-color duration-200 hover:bg-primary-color active:bg-active-color active:border-active-color active:duration-[10];
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ee00ab #f8fafc;
}

*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #f8fafc;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #ee00ab;
}

*::-webkit-file-upload-button {
  display: none;
}

body {
  color: rgb(255, 255, 255);
  min-height: 100svh;
  background: url("/background.png") no-repeat right #000000;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

html {
  --nav-height: 82px;
  --section-headers-height: 56px;
  scroll-padding-top: var(--nav-height);
  scroll-behavior: smooth;
}

main {
  height: calc(100svh - var(--nav-height) - 2px);
}

.section-content-wrapper {
  height: calc(
    100svh - var(--nav-height) - var(--section-headers-height) - 2px
  );
}

@media (pointer: coarse) {
  .scrollable::-webkit-scrollbar {
    display: none;
  }

  .scrollable {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
