@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .date-label {
    @apply mb-0 text-small-label whitespace-nowrap;
  }

  .date-counter {
    @apply mt-[0.7rem] mb-0 text-[9rem] pb-0 leading-tight tracking-wider;
  }

  .counter-label {
    @apply mt-0 font-medium text-small-label;
  }

  .applyBasicButtonStyles {
    @apply p-0 border-none bg-opacity-0 cursor-pointer font-bold whitespace-nowrap;
  }

  .button-square {
    @apply rounded-lg py-4 px-6 applyBasicButtonStyles duration-200;
  }

  .button-round {
    @apply rounded-[3rem] py-4 px-9 applyBasicButtonStyles duration-200;
  }

  .button-filled {
    @apply bg-primary-color border-solid border-[0.1rem] border-primary-color duration-200 hover:bg-secondary-color hover:border-secondary-color active:bg-active-color active:border-active-color active:duration-[10];
  }

  .button-outlined {
    @apply bg-opacity-100 border-solid border-[0.1rem] border-primary-color duration-200 hover:bg-primary-color active:bg-active-color active:border-active-color active:duration-[10];
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ee00ab #f8fafc;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #f8fafc;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #ee00ab;
}

@media (pointer: coarse) {
  .scrollable::-webkit-scrollbar {
    display: none;
  }

  .scrollable {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: calc(100svh - var(--nav-height));
}

html {
  --nav-height: 80px;
  scroll-padding-top: var(--nav-height);
  scroll-behavior: smooth;
}
